#load-button {
    filter: brightness(1.1);
    display: inline-flex;
    appearance: none;
    align-items: center;
    justify-content: center;
    user-select: none;
    position: relative;
    white-space: break-spaces;
    vertical-align: middle;
    outline: 2px solid transparent;
    outline-offset: 2px;
    border-radius: var(--chakra-radii-sm);
    padding-inline-start: var(--chakra-space-4xl);
    padding-inline-end: var(--chakra-space-4xl);
    height: var(--chakra-sizes-lg);
    font-family: var(--font-primary);
    font-weight: 700;
    line-height: 1.25;
    font-size: 1rem;
    background: var(--chakra-colors-brand-primary);
    color: var(--chakra-colors-black);
    box-shadow: var(--chakra-shadows-button);
    width: auto;
    margin-bottom: 7px;
}

#load-button:disabled {
    background: var(--chakra-colors-brand-200);
    box-shadow: none;
}

.flex-horizontal-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}